<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <div th:fragment="form">
        <!-- Beautiful Checkboxes -->
        <script type="text/javascript"
                src="/plugins/uniform/jquery.uniform.min.js"></script>

        <!-- Form Validation -->
        <script type="text/javascript"
                src="/plugins/validation/additional-methods.js"></script>
        <script type="text/javascript"
                src="/plugins/validation/jquery.validate.min.js"></script>
        <script type="text/javascript"
                src="/plugins/validation/validation-methods.js"></script>
        <script type="text/javascript"
                src="/plugins/validation/localization/messages_zh.js"></script>

        <!-- Slim Progress Bars -->
        <script type="text/javascript" src="/plugins/nprogress/nprogress.js"></script>
    </div>
</body>
</html>