<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <!--demo-->
    <div th:fragment="uedit">
        <link href="/plugins/uedit/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" charset="utf-8" src="/plugins/uedit/umeditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="/plugins/uedit/umeditor.min.js"></script>
        <script type="text/javascript" src="/plugins/uedit/lang/zh-cn/zh-cn.js"></script>
    </div>
</body>
</html>