<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renwu.backendapp.wallet.mapper.SinglePageMapper" >
    <resultMap id="BaseResultMap" type="com.renwu.backendapp.wallet.entity.SinglePage" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_date" property="create_date" jdbcType="DATE" />
        <result column="update_date" property="update_date" jdbcType="DATE" />
        <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
        <result column="dict_name" property="dict_name" jdbcType="VARCHAR" />
        <result column="dict_type" property="dict_type" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findOne" resultMap="BaseResultMap" >
        select id,detail,dict_type,dict_name
        from sys_about
        where id = #{id}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select id,detail,dict_type,dict_name
        from sys_about
        WHERE 1=1
        <if test="entity.dict_type != null and entity.dict_type != ''">
            AND dict_type = #{entity.dict_type}
        </if>
    </select>

    <insert id="save">
		INSERT INTO sys_about(
			id,
			update_date,
			create_date,
            detail,
            dict_type,
            dict_name
		) VALUES (
			#{id},
			#{update_date},
			#{create_date},
			#{detail},
			#{dict_type},
			#{dict_name}
		)
	</insert>

    <!-- 更新单页 -->
    <update id="update">
		UPDATE sys_about SET
			update_date = #{update_date},
			detail = #{detail},
			dict_type = #{dict_type},
			dict_name = #{dict_name}
		WHERE id = #{id}
	</update>

    <!-- 删除数据 -->
    <delete id="delete">
		DELETE FROM sys_about WHERE id = #{id}
	</delete>

</mapper>