<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
</head>

<body>

	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">仪表盘</a></li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<h3>仪表盘</h3>
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>

				<!-- Page Stats -->
				<ul class="page-stats">
					<li>
						<div class="summary">
							<span><i class="icon-user"></i> 用户数量</span>
							<h3 th:text="${userCount}"></h3>
						</div>
					</li>
					<li>
						<div class="summary">
							<span><i class="icon-star"></i> 活跃量(当日)</span>
							<h3 th:text="${dayActive}"></h3>
						</div>
					</li>
				</ul>
				<!-- /Page Stats -->
			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->

			<!--=== Statboxes ===-->
			<!--<div class="row row-bg">-->
				<!--&lt;!&ndash; .row-bg &ndash;&gt;-->

				<!--<div class="col-sm-6 col-md-6">-->
					<!--<div class="statbox widget box box-shadow">-->
						<!--<div class="widget-content">-->
							<!--<div class="visual red">-->
								<!--<i class="icon-star"></i>-->
							<!--</div>-->
							<!--<div class="title">累计装机量</div>-->
							<!--<div class="value" th:text="${userscount}"></div>-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash; /.smallstat &ndash;&gt;-->
				<!--</div>-->
				<!--&lt;!&ndash; /.col-md-3 &ndash;&gt;-->

				<!--<div class="col-sm-6 col-md-6">-->
					<!--<div class="statbox widget box box-shadow">-->
						<!--<div class="widget-content">-->
							<!--<div class="visual yellow">-->
								<!--<i class="icon-dollar"></i>-->
							<!--</div>-->
							<!--<div class="title">累计活跃量</div>-->
							<!--<div class="value" th:text="${newscount}"></div>-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash; /.smallstat &ndash;&gt;-->
				<!--</div>-->
				<!--&lt;!&ndash; /.col-md-3 &ndash;&gt;-->

			<!--</div>-->
			<!-- /.row -->
			<!-- /Statboxes -->

			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-check-circle fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge"><h3 th:text="${newUseCount}"></h3></div>
									<div>新增装机量</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-check-circle fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge"><h3 th:text="${allUseCount}"></h3></div>
									<div>累计装机量</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-success">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-check-circle fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge"><h3 th:text="${allActiveCount}"></h3></div>
									<div>累计活跃量</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-check-circle fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge"><h3 th:text="${allHelpCount}"></h3></div>
									<div>累计反馈数量</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--=== 热门文章 ===-->

			<!--<div class="row">-->
				<!--<div class="col-md-12">-->
					<!--<div class="widget box">-->
						<!--<div class="widget-header">-->
							<!--<h4>-->
								<!--<i class="icon-reorder"></i> 热门文章-->
							<!--</h4>-->
							<!--&lt;!&ndash;<div class="toolbar no-padding">&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
									<!--&lt;!&ndash;<span class="btn btn-xs circular-charts-reload"><i&ndash;&gt;-->
										<!--&lt;!&ndash;class="icon-refresh"></i> 刷新</span> <span&ndash;&gt;-->
										<!--&lt;!&ndash;class="btn btn-xs widget-collapse"><i&ndash;&gt;-->
										<!--&lt;!&ndash;class="icon-angle-down"></i></span>&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--</div>-->
						<!--<div class="widget-content">-->
							<!--<ul class="stats">-->
								<!--<li class="circular-chart-inline">-->
									<!--<a href="#" class="stat hvr-wobble-horizontal">-->
										<!--<div class=" stat-icon">-->
											<!--<i class="fa fa-flag fa-4x text-danger "></i>-->
										<!--</div>-->
										<!--<div class=" stat-label">-->
											<!--<div class="label-header">-->
												<!--<span th:text="${top0}"></span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</a>-->
								<!--</li>-->
								<!--<li class="circular-chart-inline">-->
									<!--<a href="#" class="stat hvr-wobble-horizontal">-->
										<!--<div class=" stat-icon">-->
											<!--<i class="fa fa-flag fa-4x text-danger "></i>-->
										<!--</div>-->
										<!--<div class=" stat-label">-->
											<!--<div class="label-header">-->
												<!--<span th:text="${top1}"></span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</a>-->
								<!--</li>-->
								<!--<li class="circular-chart-inline">-->
									<!--<a href="#" class="stat hvr-wobble-horizontal">-->
										<!--<div class=" stat-icon">-->
											<!--<i class="fa fa-flag fa-4x text-danger "></i>-->
										<!--</div>-->
										<!--<div class=" stat-label">-->
											<!--<div class="label-header">-->
												<!--<span th:text="${top2}"></span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</a>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!-- /热门文章 -->

			<!--=== Filled Charts ===-->
			<div class="row row-bg">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 问题Top10（阅读次数）
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs widget-collapse"><i
											class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="widget-content">
							<div id="chart_filled_red" class="chart"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bg">
				<div class="col-md-6">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 日活量（一周）
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs widget-collapse"><i
										class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="widget-content">
							<div id="chart_filled_green" class="chart"></div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 装机量 (机型Top5)
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs widget-collapse"><i
										class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="widget-content">
							<div id="chart_filled_blue" class="chart"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>
</body>
</html>